# =========================
# Postgres (audit/meta DB)
# =========================
POSTGRES_DSN=postgresql://gdf:YOUR_PASSWORD@localhost:5432/gdf_meta
AUDIT_SCHEMA=audit

# =========================
# S3 / Bronze (MinIO locally or AWS in prod)
# =========================
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY
AWS_REGION=us-east-1
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
BRONZE_BUCKET=global-demand-forecasting-bronze

# =========================
# Kaggle
# =========================
KAGGLE_USERNAME=your_kaggle_username
KAGGLE_API_TOKEN=your_kaggle_token
M5_COMPETITION=m5-forecasting-accuracy
M5_DESTINATION=local_data/m5
M5_SOURCE_NAME=m5_sales

# =========================
# Warehouse / Redshift
# =========================
WAREHOUSE_DSN=postgresql://admin:YOUR_PASSWORD@your-redshift-host:5439/gdf_warehouse
REDSHIFT_IAM_ROLE_ARN=arn:aws:iam::YOUR_ACCOUNT_ID:role/your-redshift-s3-role
DBT_TARGET=dev
DBT_THREADS=2

# =========================
# Airflow (local dev)
# =========================
AIRFLOW_WEBSERVER_PORT=8080
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=true

AIRFLOW_DB_NAME=airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow_password
AIRFLOW_DB_PORT=5433
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow_password@airflow-postgres:5432/airflow

AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com







# =========================
# MWAA (deployment artifacts bucket)
# =========================
MWAA_BUCKET=gdf-mwaa-artifacts-dev
MWAA_PREFIX=envs/dev
