# OS / Editor
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
logs/

# Data (never commit)
data/
local_data/
artifacts/

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/.terraform.lock.hcl

# Secrets
.env
.env.*
*.pem
*.key
secrets/



hello.txt
local_smoke.txt

test.ipynb

alembic/**/*.pyc
alembic/**/__pycache__/

database/**/*.pyc
database/**/__pycache__/

config/**/*.pyc
config/**/__pycache__/

