# OS / Editor
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.venv/
venv/
#env/
.venv-dbt/
venv-dbt/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
logs/

# Data (never commit)
data/
local_data/
artifacts/

# Terraform
# Terraform (ignore state + local caches only)
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl
infra/terraform/**/terraform.tfvars



# Secrets
.env
.env.*
*.pem
*.key
secrets/



hello.txt
local_smoke.txt

test.ipynb

alembic/**/*.pyc
alembic/**/__pycache__/

database/**/*.pyc
database/**/__pycache__/

config/**/*.pyc
config/**/__pycache__/

.venv-dbt/







# ==============================================================================
# Airflow (local dev runtime)
# ==============================================================================
orchestration/airflow/.env
orchestration/airflow/logs/
