alembic==1.18.1

#tree -I '.git|.venv|venv-dbt|.env|__pycache__|.pytest_cache|.ruff_cache|node_modules|.terraform|*.tfstate|*.tfstate.backup|*.terraform.lock.hcl|site-packages|dist-info|*.dist-info|*.egg-info|*.pyc|*.pyo' -a -f --noreport > project-tree-clean.txt